body, html {
    display: flex;
    justify-content: center;
}


.background {
    background-color: #1db954;

}
.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    right: 16em;
    top: 17em;
}

.item-title {
    font-size: 7em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.item-tagline {
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2.5em;
    padding-bottom: 1em;

}
.item-container {
    display: flex;
    flex-direction: column;
   /* align-items: left;*/
    justify-content: left;
    flex-grow: 4;
    gap: 10px;

}

button {
    background-color: #cd2990;
    border: 2px solid #cd2990;
    border-radius: 10px;
    position: inherit;
    /* transform: translate(-50%, -50%); */
    top: 50%;
    left: 50%;
    padding: 20px 50px;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
}