<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="draggable.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.29.1.min.js" charset="utf-8"></script>
    <!--<link rel="stylesheet" href="temp_style.css">-->
    <link rel="stylesheet" href="temp_style2.css">
    <title>MOJO | <%username%></title>
  </head>
  <body class="background">
    <h1 id="intro">Hello <em><%username%></em></h1>
    <div id="primary-stats">
      <div id="mojo-box-container">
	<%mojo%>
      </div>
      <div style="height:500px;" id="radar-div">
	<canvas id="stats-radar-chart"></canvas>
	<script>
          <%chart_script%>
	</script>
      </div>
      <div id="top-songs-artists">
	<div id="top-songs"><%short_term_songs%></div>
	<div id="top-artists"><%short_term_artists%></div>
      </div>
    </div>
    <div id="rest">
      <div id="card-container">
	<div id="card-container-col1">
	  <div id="card-mojo"><em><%username%>'s</em> mojo</div>
	  <div class="draggable-container-box">
	  </div>
	  <div class="draggable-container-box"></div>
	</div>
	<div id="card-container-col2">
	  <div class="draggable-container-box"><%medium_term_artists%></div>
	  <div class="draggable-container-box"><%long_term_artists%></div>
	  <div class="draggable-container-box"></div>
	</div>
      </div>
      <div id="content-container">
	<div class="draggable-container-box"><%medium_term_songs%></div>
	<div class="draggable-container-box"><%short_term_songs%></div>
	<div class="draggable-container-box"><%long_term_songs%></div>
	<div class="draggable-container-box"><%short_term_artists%></div>
      </div>
    </div>
  </body>
</html>
